form {
  display: flex;
  column-gap: 5px;
}

form > button {
  margin-top: auto;
  height: min-content;
}

#Notes-div {
  width: fit-content;
  display: grid;
  grid-template-areas:
    'head head'
    'input button'
    'notes .';
}

#Notes-div > h2 {
  grid-area: head;
  margin-left: auto;
  margin-right: auto;
}

#Notes-div > textarea {
  grid-area: input;
}

#Notes-div > button {
  grid-area: button;
}

#Notes-div > ul {
  grid-area: notes;
}
